*{
  margin: 0; padding: 0;
}
.login-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
h1{
  text-align: center;
  margin: 0;
}
.menu-area{
  display: flex;
  justify-content: center;
}
.menu-list{
  display: flex;
  justify-content: center;
}
.menu-list li{
  padding: 10px;
}
li{
  list-style-type: none;
}

.search-box{
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.search-box input{
  border: transparent;
  border-bottom: 1px solid #333;
  position: absolute;
  right: 10px;
  width: 150px;
  padding: 5px 20px ;
}
.search-icon{
  position: absolute;
  font-size: 15px;
  right: 145px;
  z-index: 2;
}
.search-box input:focus{
  outline: none;
  border-bottom: 2px solid #D12323;
}
